.contenedor-footer {
  background-color: var(--azul);
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-cuerpo {
  background-color: blueviolet;
  width: 83rem;
  display: flex;
  flex-direction: column;
}

.contenedor-principal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 1.25rem;
}

.columna {
  text-align: start;
}

.contenedor-copyright {
  background-color: aliceblue;
  text-align: center;
  padding: 1.25rem;
  margin-top: auto;
}

ul {
  list-style: none;
  padding: 0;
}

li{
    padding: 0 0 0.5rem 0;
}

a {
  text-decoration: none;
  color: #333;
}

.espacio{
    padding: 0 0 1rem 0;
}

.contenedor-direccion {
  font-size: 16px;
  line-height: 1.4;
}

.contenedor-direccion p {
  display: grid;
  grid-template-rows: auto auto auto;
}
