.loginFlex {
  display: flex;
  justify-content: center;
}
.loginContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-radius: 2rem;
  height: 51rem;
  width: 90rem;
  overflow: hidden;
}
.loginLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55.56%;
  height: 100%;
  background: linear-gradient(
    180.67deg,
    rgba(0, 0, 0, 0.22) -0.83%,
    rgba(0, 112, 255, 0.8) 99.43%
  );
}
.loginRight {
  width: 44.44%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

.loginLeftText {
  width: 29.5rem;
  height: 11.5rem;
  font-family: Plus Jakarta Sans;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: 0em;
  text-align: left;
}
.loginLeftText p {
  color: #ffffff;
}

.formContainer {
  border-radius: 1rem;
  padding: 4.5rem;
  margin-top: 4rem;
}
.formContainer h3 {
  color: var(--Black-Fill, #2e2e2e);

  font-size: 1.6875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.formContainer p {
  color: #adadad;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 1rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.formControl {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
}

.formControl input {
  width: 22rem;
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #c6c6c6;
  background: #fff;
  resize: none;
}

.formControl label {
  color: var(--Black-Fill, #2e2e2e);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.5rem;
}

.loginSubmitBtn {
  width: 10rem;
  height: 2.75rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  background: #3b86f7;
  color: #fff;
  display: inline-block;
  align-self: end;
  margin-top: 1.5rem;
}
.btnCreateAccount {
  margin: 3rem;
  align-self: flex-end;
  width: 8rem;
  height: 2.25rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  background: #3a3a3a;
  color: #fff;
  text-align: center;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}